.DS_Store
._.DS_Store
.gradle
.idea
.vscode
.kotlin
/app/
bin/
build/
jte-classes/
old-http4k.zip
old-dce.zip
gradle*
make-native*
*build_artifacts.txt
*.dll
onmindxdb*
onmind-xdb-*
SWAGGER.md
OnMind-*.md
onmind-*.md