.DS_Store
._.DS_Store
.gradle
.idea
.vscode
.kotlin
/app/
bin/
build/
jte-classes/
old-http4k.zip
old-dce.zip
gradle*
make-native*
*build_artifacts.txt
*.dll
onmind*.log

# Documentation (except official ones)
*.md
!README.md
!HELP.md
!DEBUG.md
!DEPLOY.md
!TESTS.md
!CODE_OF_CONDUCT.md